# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/


*.7z
.venv
.idea
__pycache__
*.sqlite3
allure_reports


# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
# .env
# .env.backup
api/coronavstech/db.sqlite3
